/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/05/2019, 06:32:03 PM
    Author     : LunaMenguante
*/
/*
body { 
    padding-top: 65px; 
}

.ui-growl {
    padding-top: 65px;
}*/

/*.ui-selectonemenu {
    padding-right: 0 !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    width: auto !important;
}
.color {
    background: yellow;
}
.modal-title {
  margin: 10px !important;
}

.close {
  opacity: 1 !important;
  position: relative !important;
  padding-right: 15px !important;
  top: 7px !important;
  left: 3px !important;
}
*/

