[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia .gitignore
Type=Link
URL=https://github.com/LisandroV/Ingenieria-de-software/blob/master/.gitignore
Icon=text-html
